.font-kel-bold {
  font-family: 'kelvinchbold', serif;
}
.font-kel-italic {
  font-family: 'kelvinchitalic', serif;
}
.font-kel-regular {
  font-family: 'kelvinchregular', serif;
}
.font-kel-bold-italic {
  font-family: 'kelvinchbold-italic', serif;
}
