@font-face {
    font-family: 'kelvinchbold';
    src: url('Kelvinch-Bold-webfont.eot');
    src: url('Kelvinch-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Kelvinch-Bold-webfont.woff2') format('woff2'),
         url('Kelvinch-Bold-webfont.woff') format('woff'),
         url('Kelvinch-Bold-webfont.ttf') format('truetype'),
         url('Kelvinch-Bold-webfont.svg#kelvinchbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

