@font-face {
    font-family: 'kelvinchregular';
    src: url('Kelvinch-Roman-webfont.eot');
    src: url('Kelvinch-Roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

